{% extends 'todo/base-en.html' %}

{% block title %} Change Password  {% endblock %}

{% block  metaContent %}    {% endblock %}


{% block cssStyle %}  

textarea.form-control {
  height: 20rem !important;
}

{% endblock %}


{% block content %}


<div class="container">
    <h1 style="font-family: 'Caveat Brush', cursive; font-size:3rem" class="text-white mt-4 mb-4">
            Change Password
    </h1>
    <br>
    
    <div class="form-group">
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            
            <button class="btn btn-secondary"> Change Password </button>
        </form>
        <br>
        <ul>
            
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
            
        </ul>
        

    </div>
    
    
    
</div>


{% endblock %}



