@font-face {
  font-family: 'BTraffic';
  src: url('BTraffic.eot?#iefix') format('embedded-opentype'),  url('BTraffic.woff') format('woff'), url('BTraffic.ttf')  format('truetype'), url('BTraffic.svg#BTraffic') format('svg');
  font-weight: normal;
  font-style: normal;
}
