{% extends 'todo/base.html' %}

{% block content %}


<div class="container" style="direction:rtl; margin:150px 0 100px 0; color: black;" >

<h2 style="color: #add9cf ;" class="text-right h2-responsive" > وظایف تکمیل شده: </h2> <br><br>

<ul style="list-style-type: none;">
  {% for todo in todos %}
  <li>
    <h3 style="color: #b5add9" class="text-right h3-responsive">
        <a href="{% url 'viewtodo'  todo.id  %}">
      {% if todo.important %} <b> {% endif %} {{ todo.title }} {% if todo.important %}
       </b> {% endif %}
        </a>
    </h3>
    <h3 class="text-right h3-responsive">توضیحات درخواست:</h3>
    <h5 class="text-right h5-responsive">{% if todo.memo %} {{ todo.memo }} {% endif %}</h5>
  <h5 class="text-right h5-responsive"> تاریخ درخواست: <span class="badge bg-danger">{{ todo.datecompleted|date:' Y-M-d ' }}</span></h5>
  <h5 class="text-right h5-responsive">   ساعت درخواست:  <span class="badge bg-info">{{ todo.datecompleted|date:' H:i ' }}</span></h5>

  </li>
  <br><hr><br>
  {% endfor %}
</ul>


</div>

{% endblock %}
